* {
    margin: 0; padding: 0;
    font-family: 'ROBOTO', Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* header gnb */
#header_container {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 1080px;
    background-color: #bbb; */
}

#gnb_box {
    /* display: flex; */
}

#gnb_box {
    position: relative;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; height: 80px;
    background: rgba(58, 48, 42, 0.7);
}

#main_icon {
    margin-left: 20%;
}


.gnb_anchor {
    display: inline-block;
    width: 144px; height: 30px;
    text-align: center;
    line-height: 30px;
}
.gnb_anchor > a {
    color: #E2E2E3;
    font-weight: bold;
    width: 144px; height: 30px;
}

#icon_box {
    margin-right: 20%;
}

.side_icon {
    margin: 0 9px;
}

.lnb_menu {
    /* display: flex; */
    display: none;
}


/* swiper slide */

.swiper-container {
    width: 100%;
    height: 1220px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide.slide1 {
    background: url(../img/test/main_slide_00_1.jpeg);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide2 {
    background: url(../img/test/main_slide_01_1.png);
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide3 {
    background: url(../img/test/main_slide_02_1.jpg);
    background-size: cover;
    background-position: center;
}