@charset "UTF-8";


* {
    margin: 0; padding: 0;
    font-family: 'ROBOTO', Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* header gnb */
#header_container {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

#gnb_box {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%; height: 68px;
    background: rgba(58, 48, 42, 0.7);
    justify-content: space-between;
    padding-top: 6px;
}

#main_icon {
    padding-left: 20%;
}


#gnb_menu {
    display: flex;
    width: 624px;
    justify-content: space-between;
}

.gnb_anchor {
    display: inline-block;
    text-align: center;
}
.gnb_anchor > a {
    color: #E2E2E3;
    font-weight: bold;
}

#icon_box {
    width: 144px; height: 30px;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
}
#icon_box > a:last-child {
    display: none;
}

.side_icon {
    /* margin: 0 9px; */
}

/* 엑티브바 */
#active_path {
    width: 100%;
    height: 6px;
    background: rgba(58, 48, 42, 0.7);
    position: absolute;
    top: 74px;
    z-index: 2;
}

#active_bar {
    width: 81px;
    height: 6px;
    margin: 0;
    background: #C93D22;
    border-radius: 4px 4px 0 0;
    display: none;
}

/* lnb(하위메뉴) */
#lnb_box {
    width: 100%;
    background: rgba(239, 239, 237, 0.7);
    display: flex;
    position: absolute;
    top: 80px;
    z-index: 2;
    justify-content: center;
    height: 274px;
    display: none;
}
#lnb_innerBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 706px;
    margin: 0 auto;
}


.lnb {
    position: absolute;
    text-align: center;
}
.lnb.menu1 {
    
}
.lnb.menu2 {
    left: 23%;
    text-align: unset;
}
.lnb.menu3 {
    left: 36%;
}

.lnb_anchor {
    font-size: 16px;
    padding: 8px 0;
    /* display: none; */
}
.lnb_anchor a {
    color: #381E10;
}

.lnb_anchor a:hover {
    color: #746c64;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.appear {
    animation: fade-in 0.5s;
}

.disappear {
    animation: fade-out 0.5s;
}



/* swiper slide */

.swiper-container.swiper1 {
    width: 100%;
    height: 1220px;

}
.swiper-slide.swiper1{
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide_text {
    width: 62vw;
    flex-direction: column;
    text-align: right;
    color: #fff;
}
.slide_text h1 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
}
.slide_text p {
    font-size: 20px;
}
.slide_text > a {
    padding: 20px 2px 2px;
    color: #fff;
    font-size: 16px;
    border-bottom: #fff 1px solid;
}
.swiper-wrapper.swiper1 > .swiper-slide:first-child > .slide_text {
    color: #3A302A;
}
.swiper-wrapper.swiper1 > .swiper-slide:first-child > .slide_text > a {
    color: #3A302A;
    border-bottom: #3A302A 1px solid;
}
.swiper-wrapper.swiper1 > .swiper-slide:first-child {
    background: url('../img/header_slide/main_slide_00_1.jpeg');
    background-size: cover;
    background-position: center;
}

.swiper-wrapper.swiper1 > .swiper-slide:nth-child(2) {
    background: url('../img/header_slide/main_slide_01_1.png');
    background-size: cover;
    background-position: center;
}

.swiper-wrapper.swiper1 > .swiper-slide:nth-child(3) {
    background: url('../img/header_slide/main_slide_02_1.jpg');
    background-size: cover;
    background-position: center;
}


/* footer */
#footer_container {
    width: 100%;
    background: #EDE9E4;
}
#footer_box {
    width: 944px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* 푸터 왼쪽 */

#footer_left {
    width: 482px; height: 218px;

}
#footer_logo {
    padding-top: 22px;
}

#footer_logo P {
    font-size: 32px;
    font-weight: bold;
}

#footer_menu {
}

#footer_menu ul {
    display: flex;
}

#footer_menu a {
    color: #000;
    font-size: 16px;
    padding: 0 5px;
}



/* 푸터 오른쪽 */

#footer_right {
    width: 240px; height: 218px;
    text-align: center;
}


#footer_num {
    padding: 22px 0 26px;
}
#footer_num p:first-child {
    font-size: 14px;
}
#footer_num h1 {
    font-size: 32px;
}
#footer_num a {
    color: #000;
    font-size: 16px;
}



#footer_sns{
    padding-bottom: 8px;
}
#footer_sns a {
    padding: 0 5px;
}
#footer_right > p {
    color: #707070;
    font-size: 10px;
}





/* 미디어쿼리 */

@media screen and (max-width: 767px) {
/* 헤더 gnb */
    #main_icon {
        padding-left: 20px;
    }
    
    #gnb_menu{
        display: none;
    }
    
    #icon_box {
        padding-right: 20px;
        justify-content: flex-end;
        /* display: unset; */
    }

    #icon_box > a:first-child,
    #icon_box > a:nth-child(2) {
        display: none;
    }
    #icon_box > a:last-child {
        display: inline;
        padding-left: 10px;
    }
    #active_bar {
        display: none;
    }

/* 슬라이드 */
    .slide_text {
        width: 100%;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }
    .slide_text h1 {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 32px;
    }
    .slide_text p {
        padding: 0 36px;
        font-size: 16px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }



/* 푸터 */
    #footer_box {
        width: unset; height: unset;
        flex-direction: column;
        align-items: center;
    }
    
    #footer_left,
    #footer_right {
        width: unset; height: unset;
        padding: 10px 0;
    }
    
    #footer_logo {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 0 0 10px 0;
    }
    #footer_logo p {
        padding-top: 8px;
    }

    #footer_num {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
/* 헤더 gnb */
    #main_icon {
        padding-left: 20px;
    }
    
    #gnb_menu{
        display: none;
    }
    
    #icon_box {
        padding-right: 20px;
        justify-content: flex-end;
        /* display: unset; */
    }

    #icon_box > a:first-child,
    #icon_box > a:nth-child(2) {
        display: none;
    }
    #icon_box >a:last-child {
        display: inline;
        padding-left: 10px;
    }

    #active_bar {
        display: none;
    }

/* 슬라이더 */
    .slide_text {
        width: 100%;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }


/* 푸터 */
    #footer_box {
        width: unset;
        padding: 0 30px;
    }
}

/* 서브 모니터 */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
/* 헤더 gnb */
    #main_icon {
        padding-left: 4%;
    }
    #gnb_menu {
        padding: 0 4%;
    }
    #icon_box {
        padding-right: 4%;
    }
}
/* 메인 모니터 */
@media screen and (min-width: 1920px) {
    
}

