/* main_content box1 product_category */

#content_container {
    width: 100%;
}

#content_box1 {
    height: 818px;
    background: #EFEFED;
}

#product_category {
    border-bottom: #fff solid 2px ;
    display: flex;
    justify-content: center;
    padding: 70px 0 20px;    
}

.category_item {
    /* width: ; */
    font-size: 16px;
    padding: 0 24px;
}
.category_item a {
    color: #999;
}

#img_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding: 18px 0;
    /* margin: 0 auto; */
    border-bottom: #fff solid 2px ;
    /* background: rgb(156, 143, 143); */
}

#img_box img {
    margin: 0 36px;
}

/* main_content box2 */


#content_box2 {
    width: 100%;
    height: 1160px;
    background: #EDE9E4;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#form_container {
    /* position: relative; */
    width: 1760px;
    height: 880px;
    margin: 0 auto;
    background: #999;
}

#form_menuBox {
    display: inline-block;
    position: relative;
    left: 1302px;
    /* bottom: 862px; */
    height: 24px;
}

.form_anchor {
    display: inline-block;
}

.form_anchor:first-child {
    padding-right: 30px;
}

.form_anchor:nth-child(2),
.form_anchor:nth-child(3) {
    padding: 0 30px;
}
.form_anchor:last-child {
    padding-left: 30px;
}

.form_anchor a {
    color: #EFEFED;
}

#form_imgBox {
    position: relative;
    display: inline-block;
    width: 1760px;
    height: 880px;
    top: 0px; left: 0px;
}


#form_imgBox > img:first-child {
    /* right: 462px; */
    /* position: absolute; */
}

#form_imgBox > img:nth-child(2) {
    /* position: relative; */
    /* position: absolute; */


}


#content_box3 {
    height: 1080px;
    background: #ddd;
}

#content_box4 {
    height: 742px;
    background: rgb(184, 178, 178);
}