/* main_content box1 product_category */

#content_container {
    width: 100%;
}

#content_box1 {
    padding-bottom: 80px;
    background: #EFEFED;
}

#product_category {
    border-bottom: #fff solid 2px ;
    display: flex;
    justify-content: center;
    padding: 70px 0 20px;    
}

.category_item {
    font-size: 16px;
    padding: 0 24px;
}
.category_item  a:hover {
    color: #3A302A;
    font-weight: bold;
}
.category_item a {
    color: #999;
}


#product_border {
    padding: 20px 0;
    border-bottom: #fff solid 2px ;
}

#product_imgWrap {
    position: relative;
    width: 70%;
    height: 620px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;


}
.product_img {
    position: absolute;
    position: relative;
    display: flex;
    width: 30%;
    overflow: hidden;
    margin: 0 20px;
}
.product_img.box1 {
        background: url('../img/contentBox1_img/kitchen/product_img_kitchen01.jpeg');
        background-size: cover;
        background-position: center;
}
.product_img.box2 {
        background: url('../img/contentBox1_img/kitchen/product_img_kitchen02.jpeg');
        background-size: cover;
        background-position: center;
}
.product_img.box3 {
        background: url('../img/contentBox1_img/kitchen/product_img_kitchen03.jpeg');
        background-size: cover;
        background-position: center;
}

/* main_content box2 */
#content_box2 {
    width: 100%;
    height: 1160px;
    background: #EDE9E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_container {
    display: flex;
    width: 60%;
    height: 864px;
    justify-content: space-between;
}


/* form_menuBox */
#form_box1 {
    width: 40%;
    position: relative;
    overflow: hidden;
}
#form_box1 img {
    position: absolute;
}

#form_box2 {
    width: 50%;
    text-align: right;
}

#form_menuBox {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 110px;
}

.form_anchor a {
    color: #706B60;
}

.form_anchor:first-child {
    padding-right: 30px;
}

.form_anchor:nth-child(2),
.form_anchor:nth-child(3) {
    padding: 0 30px;
}
.form_anchor:last-child {
    padding-left: 30px;
}

#form_imgBox2 {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#form_imgBox2 img {
    /* position: absolute; */
}


/* >form_text */
#form_text p:first-child {
    font-size: 40px;
    font-weight: 100;
}

#form_text {
    padding: 110px 0 20px;
}

#form_text p {
    position: relative;
    font-size: 20px;
    color: #706B60;
}


/* main_content box3 */

#content_box3 {
    height: 1080px;
    background: #59524A;
    text-align: center;
}

#video_wrap {
    position: relative;
    width: 1280px; height: 720px;
    margin: 0 auto;
}

#text_box {
    padding: 90px 0 30px;
}
#text_box h1 {
    color: #E2E2E3;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 16px;
}
#text_box p:nth-child(2),
#text_box p:nth-child(3) {
    color: #E2E2E3;
    margin: 5px 0;
    font-weight: 200;
}


#video_box {
    position: relative;
    width: 1280px; height: 720px;
}

#video_cover {
    position: relative;
    position: absolute;
}

#video_cover button {
    width: 85px; height: 65px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.4);
    left: 598px;
    top: 328px;
}

#video_cover button > img {
    align-items: center;
    justify-content: center;
}


/* #video_cover img:last-child {
    position: absolute;
    left: 610px;
    top: 330px;
} */















#content_box4 {
    /* background: rgb(184, 178, 178); */
    background: #EFEFED;
}

#counseling {
    width: 1584px; height: 694px;
    margin: 0 auto;
    padding: 102px 0;
}

#counseling_text h1 {
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
}

#counseling_text p {
    font-weight: 200;
}
#counseling_text a {
    font-size: 16px;
    display: inline-block;
    padding: 20px 0 94px;
    color: black;
}

#counseling_box {
    width: 1584px; height: 464px;
    display: flex;
    justify-content: space-between;
}

#counseling_imgBox1,
#counseling_imgBox2, 
#counseling_imgBox3 {
    width: 464px; height: 464px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#counseling_imgBox1 img,
#counseling_imgBox2 img,
#counseling_imgBox3 img {
    border-radius: 80px 30px 0;
}

#counseling_imgBox1 h1 {
    position: absolute;
    padding: 200px 5px 0;
    border-bottom: black 1px solid;
    color: black;
}

#counseling_imgBox2 h1,
#counseling_imgBox3 h1 {
    position: absolute;
    padding: 200px 5px 0;
    border-bottom: white 1px solid;
    color: white;
    /* top: 50%; */
    /* margin: ; */
}




@media screen and (max-width: 767px) {
    .category_item {
        font-size: 14px;
        padding: 0 10px;
    }
    #product_imgWrap {
        width: 90%;
        height: 372px;
    }
    .product_img {
        width: 50%;
        margin: 0 10px;
    }
    
    .product_img.box1 {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #product_imgWrap {
        width: 90%;
        height: 434px;
    }
    .product_img {
        margin: 0 10px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
    #product_imgWrap {
        width: 80%;
        height: 558px;
    }
    .product_img {
    }
}
@media screen and (min-width: 1920px) {}

