/* main_content box1 product_category */

#content_container {
    width: 100%;
}

#content_box1 {
    height: 818px;
    background: #EFEFED;
}

#product_category {
    border-bottom: #fff solid 2px ;
    display: flex;
    justify-content: center;
    padding: 70px 0 20px;    
}

.category_item {
    /* width: ; */
    font-size: 16px;
    padding: 0 24px;
}
.category_item a {
    color: #999;
}

#img_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding: 18px 0;
    /* margin: 0 auto; */
    border-bottom: #fff solid 2px ;
    /* background: rgb(156, 143, 143); */
}

#img_box img {
    margin: 0 36px;
}



/* main_content box2 */
#content_box2 {
    width: 100%;
    height: 1160px;
    background: #EDE9E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_container {
    display: flex;
    width: 1584px;
    height: 864px;
    justify-content: space-between;
}


/* form_menuBox */
#form_box2 {
    text-align: right;
}

#form_menuBox {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 110px;
}

.form_anchor a {
    color: #706B60;
}

.form_anchor:first-child {
    padding-right: 30px;
}

.form_anchor:nth-child(2),
.form_anchor:nth-child(3) {
    padding: 0 30px;
}
.form_anchor:last-child {
    padding-left: 30px;
}


/* >form_text */
#form_text p:first-child {
    font-size: 40px;
    font-weight: 100;
}

#form_text {
    padding: 110px 0 20px;
}

#form_text p {
    position: relative;
    font-size: 20px;
    color: #706B60;
}


/* main_content box3 */

#content_box3 {
    height: 1080px;
    background: #59524A;
    text-align: center;
}

#video_wrap {
    position: relative;
    width: 1280px; height: 720px;
    margin: 0 auto;
}

#text_box {
    
}

#video_box {
    position: relative;
    width: 1280px; height: 720px;
}

#video_cover {
    position: relative;
    position: absolute;
}

#video_cover button {
    width: 86px; height: 66px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.4);
    left: 597px;
    top: 327px;
}

#video_cover button > img {
    align-items: center;
    justify-content: center;
}


/* #video_cover img:last-child {
    position: absolute;
    left: 610px;
    top: 330px;
} */















#content_box4 {
    height: 742px;
    background: rgb(184, 178, 178);
}